@charset "UTF-8";

#wrap{
	width:971px; 
	margin:0;
	margin-left:auto;
	margin-right:auto;
}
h1{
	color:Royalblue;
}
table{
	width:100%;
	border-collapse:collapse;
	font-size:12px;
	line-height:24px;
}
table td, th{
	border:#D3D3D3 solid 1px;
	padding:5px;
}
th{
	background:Lightskyblue;
}
img{
	width:220px;
	height:300px;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	text-decoration:none;
	color:Royalblue;
}